<div class="col-md-6 col-md-offset-3">
<form (submit)="addUser()" >
  <hr>
  <label>
    <span>User name</span>
    <input
      type="text"
      name="username"
      placeholder="Your user name"
      [(ngModel)]="username">

  </label>
  <div>
    <label>
      <span >Email address</span>
      <input
        type="email"
        name="email"
        placeholder="Your email address"
        [(ngModel)]="email">
    </label>
    
    <label>
      <span>Password</span>
      <input
        type="password"
        name="password"
        placeholder="Enter your password"
        [(ngModel)]="password"
        >
    </label>
  </div>
  {{message}}
  <button type="submit">Sign up</button>
</form>
</div>