
<div class="row">
    <div class="col-md-2">
        <img class="img-circle" style="width:100%" src="{{image}}">
              <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6">
           <div class="form-group">
          <input type="file"  (change)="fileChange(input)" #input  required accept="image/*" />
           <button class="btn" type="submit" (click)="changeImage()">Change</button>
        </div>
        </div>
        <div class="col-md-3"></div>
      </div>
     </div>
     <div class="col-md-10">
     <hr>
          <hr>
     <hr>
     <hr>

         <h1>{{username}}'s profile</h1>
         <hr>
         <p>Email: {{email}}</p>
         <hr>
         <p>Last Update: {{date}}</p>
     </div>    
</div>
<hr>
<hr>
<div>
        <div *ngFor="let ad of userAdv">
            <div class="col-md-3">

            <ul>
                    <li>
             <img class="img-responsive" src="{{ad.ad_img}}" alt="">
                        
            {{ad.ad_date}}&nbsp; 
            <br> 
            Category : {{ad.ad_cat}}<br>
            Location : {{ad.ad_loc}}&nbsp;
            <br>
            Description :  {{ad.ad_desc}}
            <br>
            Contact : {{ad.ad_phone}}<br>
                <hr>
                <hr>

                    </li>               
            </ul>

        </div> 
        </div>
    </div>
