 <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">AdHouse </h1>
        <p class="lead text-muted">One place, all your needs</p>
         
        <p class = "button">
          <a href="#" class="btn btn-primary">Choose category</a>
          <select  [(ngModel)]="term" class="btn btn-secondary" >

         <option  *ngFor="let cat of catgs ">{{cat}}</option>
        </select>
          
        </p>
      </div>
    </section>

    <div class="album text-muted">
      <div class="container">

        <div class="row">
          <div  class="col-md-4" *ngFor="let ad of alladds | filter: term"  >
            <img data-src="{{ad.ad_img}}" alt="Card image cap">
            <p class="card-text">
                <span class="media-heading">{{ad.ad_date}}</span>
                <span>Category : {{ad.ad_cat}}</span>
                <span>Location: {{ad.ad_loc}}</span>
                <span>Description: {{ad.ad_desc}}</span>
                <span> Contact : {{ad.ad_phone}}</span>
                <li>
      <a  class="navbar-brand" href="#" (click) = "advertId(ad._id)"       
      [routerLink]="['/advertisment/'+ad._id]"  >Comments</a>
                </li>
                <br>
            </p>
          </div>
        </div>
    </div>
    </div>




