<div class="container clear">
<br>
    <h3 class= "header">
    <span class ="header1" >AdHouse 
    </span>
    <span class = "header2" >One place all your needs
    </span>
    </h3>
 
    <select [(ngModel)]="term" >
  <option *ngFor="let cat of catgs ">{{cat}}</option>
</select>
    <hr>
    <div>
        <div 
        *ngFor="let ad of alladds | filter: term"  >
            <div class="col-md-3">
             <img class="img-responsive" src="{{ad.ad_img}}" alt="">
        <p>
            
            {{ad.ad_date}}&nbsp; 
            <br> 
            Category : {{ad.ad_cat}}<br>
            Location : {{ad.ad_loc}}&nbsp;
            <br>
            Description :  {{ad.ad_desc}}
            <br>
            Contact : {{ad.ad_phone}}<br>
        </p>
        </div> 
        </div>
       
    </div>
</div>
